@using SmartBuy.Models;

@model IEnumerable<Categoria>

<h4 class="display-6">Categorias</h4>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCategoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td class="col-3">
                            <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdCategoria">Detalhes</a>
                            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.IdCategoria">Editar</a>
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdCategoria">Deletar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>